<mat-card class="slider">
  <app-top></app-top>
  <div class="home-vertical">
    <div class="home-horizontal">
        
    </div>
</div>
</mat-card>

<mat-card class="card-max">
   
    
      <div class="card-group">
        <div class="rolagem">
          <div class="card">
         
            <img 
            
              src="assets/img/bts/bt_voluntaios.png"
              
              alt="voluntários"
            />
           
         
            <div class="card-body">
              <h3 class="card-title">Voluntários Mobilizados</h3>
              <h2>1550</h2>
             
              
             
            </div>
          </div>
          <div class="card">
            <img 
              src="assets/img/bts/bt_prevencaodrogas.png"
             
              alt="prevencao anti-drogas"
            />
            <div class="card-body">
              <h3 class="card-title">Prevenção as anti-drogas</h3>
              <h2>7530 pessoas alcançadas</h2>
             
             
            </div>
          </div>
          <div class="card">
            <img class="aumentar-img"
              src="assets/img/bts/bt_casa.png"
              
              
              alt="Projetos comunitários"
            />
            <div class="card-body">
              <h3 class="card-title">Projetos Comunitários realizados</h3>
              <h2>190</h2>
             
            </div>
          </div>
        </div>
      </div>     
  
  </mat-card>
  
  <mat-card class="texto">
    <div>
    <h2>Assunto</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Consequuntur impedit veniam, officiis labore obcaecati, sapiente, aliquam quasi corrupti omnis minus ea quis!
       Obcaecati magnam debitis, neque non recusandae corporis officia?</p>
       <button class="bt">VEJA MAIS</button>
       <img class="icone" src=""alt=""/>
      </div>
    <div>
       <h2>Assunto</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Consequuntur impedit veniam, officiis labore obcaecati, sapiente, aliquam quasi corrupti omnis minus ea quis!
       Obcaecati magnam debitis, neque non recusandae corporis officia?</p>
       <button class="bt">VEJA MAIS</button>
       <img class="icone" src=""alt=""/>
    </div>
    <div>  
       <h2>Assunto</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Consequuntur impedit veniam, officiis labore obcaecati, sapiente, aliquam quasi corrupti omnis minus ea quis!
       Obcaecati magnam debitis, neque non recusandae corporis officia?</p>
       <button class="bt">VEJA MAIS</button>
       <img class="icone" src=""alt=""/>
    </div>
       
  </mat-card>
  <section>

    <mat-card class="formulario">
     <h2>SEJA VOLUNTÁRIO</h2>
      <section>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button class="cadastro">CADASTRE-SE</button>
          
        </form>
      </section>
      <img class="formImg" src="assets/img/monstro.png"alt=""/>     
          
      
    </mat-card> 
  </section> 
  
