<mat-card class="top">
   
    <ul>       
        <li>
            <input type="radio" id="top1" name="top" checked>
          <label for="top1"></label>
            <img src="assets/img/pobreza1.jpg" alt="erradicação da pobreza">/>
        </li>
        
       
        <li>
            <input type="radio" id="top2" name="top">
          <label for="top2"></label>
            <img src="assets/img/voluntariado.jpg" alt="seja voluntario">/>
        </li>
        <li>
            <input type="radio" id="top3" name="top">
           <label for="top3"></label>
            <img src="assets/img/cursos.jpg" alt="cursos profissionalizantes">/>
        </li>
        
    </ul>
    
   
</mat-card>
