/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.green{
    color: rgb(56,235,106);
}
.v-middle{
    vertical-align: middle;
}
.card-max{
    background-color: rgb(223, 235, 56,.2);
    margin:0px, 500px, 0px, 0px;
    display:inline-block;
}
